*{
                width: 100%;
                max-width: 1320px;
                margin: 0 auto;  
}
/* header style */
.hero-section{
               
                background: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0)), url('../style/B9A1-New-Year-New-Mission-main/resources/Banner Image.png');
                border-radius: 16px;
                background-position: center;
                background-size: cover;
                height:600px ;
                margin-top: 20px;


}
.hero-section-greeting{
                color: #FFF;
                text-align: center;
                font-size: 32px;
                font-weight: 400;
                padding-top: 220px;              
}
.hero-section-title{

                color: #FFF;
                text-align: center;
                font-size: 72px;
                font-weight: 900;
                
}
/* main section style */

.container-1{
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                margin-top: 80px;
}
.container-1 h1{

                color: #F00;
                text-align: center;
                font-size: 88px;
                font-weight: 700;
                margin-bottom: 10px;
              
}
.container-1 h4{
                color: #F00;
                text-align: center;
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 10px;

}
.container-1 h2{
                color: #070211;
                text-align: center;
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 30px;

}

.container-1 img{

                height: 500px;
                width: 800px;
}